@charset "UTF-8";

 #main-wrap{
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  
  
  #title{
  width: 990px;
  margin-left : 30px;
  margin-bottom: 10px;
  }
  
  #contents{
  width: 990px;
  height: 400px;
  margin-left : 30px;
  }
  
  #files{
  width: 300px;
  margin-left : 30px;
  }
  
  #writer{
  width: 300px;
  margin-left : 30px;
  }
  
  #files-wrap{
  margin-top : 20px;
  margin-botton: 100px;
  }
  
  hr {
    border: 2px solid black;
}

  label {
    padding-left: 25px;
    margin-top: 20px;
  }
  
  #buttons {
    margin-left: 25px;
    margin-top: 10px;
  }
  
  #file-list {
    width: 300px;
    margin-left : 30px;
  }
  
  #select-div{
    margin-botton : 10px;
    width: 300px; 
  }
  
  #select-box{
   margin-left: 30px;
  }